/* resume-icon-bg*/

.scrollspy::-webkit-scrollbar{
    display: none;
}
.active{
    color: orangered !important;
}
 
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: #0b0b22dd;
}
.list-group-item {
    background: transparent;
    height: 100%;
}




