/* home imge */
.Home-img {
  min-width: 290px;
  max-width: 320px;
  min-height: 270px;
  max-height: 300px;
  margin-right: 40px;
  box-shadow: 0 2px 0 0 #fff;
  border-radius: 60%;
  padding: 0 10px 12px;
  box-sizing: border-box;
}
